[submodule "Tonomy-ID"]
	path = Tonomy-ID
	url = https://github.com/Tonomy-Foundation/Tonomy-ID.git
[submodule "Tonomy-ID-SDK"]
	path = Tonomy-ID-SDK
	url = https://github.com/Tonomy-Foundation/Tonomy-ID-SDK.git
[submodule "Tonomy-ID-Demo"]
	path = Tonomy-ID-Demo
	url = https://github.com/Tonomy-Foundation/Tonomy-ID-Demo.git
