[submodule "Tonomy-ID"]
	path = Tonomy-ID
	url = ../Tonomy-ID.git
	branch = development
[submodule "Tonomy-ID-SDK"]
	path = Tonomy-ID-SDK
	url = ../Tonomy-ID-SDK.git
	branch = development
[submodule "Tonomy-App-Websites"]
	path = Tonomy-App-Websites
	url = ../Tonomy-App-Websites.git
	branch = development
