[submodule "Tonomy-ID"]
	path = Tonomy-ID
	url = ../Tonomy-ID.git
	branch = development
[submodule "Tonomy-ID-SDK"]
	path = Tonomy-ID-SDK
	url = ../Tonomy-ID-SDK.git
	branch = development
[submodule "Tonomy-ID-SSO-Website"]
	path = Tonomy-ID-SSO-Website
	url = ../Tonomy-ID-SSO-Website.git
	branch = development
[submodule "Tonomy-Contracts"]
	path = Tonomy-Contracts
	url = ../Tonomy-Contracts.git
	branch = development
[submodule "Tonomy-ID-Demo-market.com"]
	path = Tonomy-ID-Demo-market.com
	url = ../Tonomy-ID-Demo-market.com.git
	branch = development
